.photo-details-modal__container {
  display: flex;
  justify-content: center;
}

.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
  z-index: 2;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  height: 200px;
  object-fit: cover;
}

.photo-details-modal__image {
  border-radius: 8px;
  width: 100%;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
  font-weight: 700;
  text-decoration: overline;
  font-family: 'Segoe UI';
  padding-left: 50px;
}

.photo-details-modal__item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
}

.photo-details-modal__related {
  display: flex;
  flex-wrap: wrap;
}